<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Welcome</title>

  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>

<body class="bg-gray-100 flex flex-col min-h-screen">

  <!-- NAVBAR -->
  <nav class="bg-blue-600 text-white py-4 shadow-md">
    <div class="max-w-6xl mx-auto px-4 flex justify-between items-center">
      <h1 class="text-2xl font-bold">Url Shortner</h1>
      <div class="space-x-6">
        <a href="/login" class="text-white hover:text-gray-200 font-medium">Login</a>
        <a href="/register" class="text-white hover:text-gray-200 font-medium">Register</a>
        <a href="/logout" class="text-white hover:text-gray-200 font-medium">Logout</a>
      </div>
    </div>
  </nav>

  <!-- MAIN CONTENT -->
  <main class="flex-grow flex justify-center items-center px-4">
    <div class="bg-white p-10 rounded-xl shadow-lg max-w-xl text-center">

      <h2 class="text-3xl font-bold text-blue-600 mb-7">Welcome, <span class="text-gray-600">
          <%= user?.name %>
        </span> to the Home Page</h2>

      <main class="flex flex-col gap-5">
        <form action="/link" method="POST" class="flex flex-col gap-3 w-full">
          <div class="flex flex-col text-start">
            <label class="font-semibold">Enter URL:</label>
            <input type="url" name="url" required class="border-2 border-gray-300 p-1 rounded-md mt-1">
          </div>

          <div class="flex flex-col text-start">
            <label class="font-semibold">Custom Short Code:</label>
            <input type="text" name="shortCode" class="border-2 border-gray-300 p-1 rounded-md mt-1">
          </div>

          <% if(errors && errors.length>0) { %>
            <% errors.forEach((item)=>{%>
              <p class="p-2 bg-red-50 text-red-600 font-semibold text-sm border-l-2 border-red-600">
                <%= item %>
              </p>
              <% }) %>
                <% } %>

                  <% if (success.length) { %>
                    <p class="text-green-600">
                      <%= success[0] %>
                    </p>
                    <% } %>

                      <button type="submit"
                        class="px-5 py-2 rounded-md bg-blue-600 text-white font-medium hover:bg-blue-900 transition-all duration-300 ease-in-out">Shorten</button>
        </form>
        <div>
          <h3 class="text-start w-max font-bold">Shorter links</h3>
          <ul>
            <% links.reverse().forEach(link=> { %>
              <li class="flex items-center justify-between gap-2 mb-2">
                <span class="text-blue-600">
                  http://localhost:5000/<%= link.shortCode %>
                </span>
                <span>
                  <button class="copy-btn bg-gray-200 px-3 py-1 rounded-md"
                    data-link="http://localhost:5000/<%= link.shortCode %>">
                    <i class="fa-solid fa-copy"></i>
                  </button>
                  <button class="bg-gray-200 px-3 py-1 rounded-md">
                    <a href="/update/<%=link.id%>">
                      <i class="fa-solid fa-edit"></i>
                    </a>
                  </button>
                </span>
              </li>
              <% }) %>
          </ul>

        </div>
      </main>


    </div>
  </main>

  <!-- FOOTER -->
  <footer class="bg-gray-200 text-center py-4 text-gray-600">
    &copy; <%= new Date().getFullYear() %> Url Shortner. All rights reserved.
  </footer>


  <script>

    const copyButtons = document.getElementsByClassName(".copy-btn");

    copyButtons.forEach(button => {
      button.addEventListener("click", () => {
        const link = button.dataset.link;
        navigator.clipboard.writeText(link)
          .then(() => {
            alert("copied " + link);
          })
          .catch((error) => {
            console.log("Error to copy", error)
          })
      })
    })
  </script>

</body>

</html>